In [12]:
import pandas as pd
import os
from keplergl import KeplerGl
from pyproj import CRS 
import numpy as np
from matplotlib import pyplot as plt

In [13]:
df = pd.read_csv(r"C:\Users\User\Downloads\Citibike-Weather-Dashboard\Data\Processed\citibike_weather_2022.csv")
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,...,WDF5,WSF2,WSF5,WT01,WT02,WT03,WT04,WT06,WT08,WT09
0,CA5837152804D4B5,electric_bike,2022-01-26 18:50:39,2022-01-26 18:51:53,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,...,320.0,10.7,14.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BA06A5E45B6601D2,classic_bike,2022-01-28 13:14:07,2022-01-28 13:20:23,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,...,30.0,8.1,11.2,1.0,NaN,NaN,NaN,NaN,1.0,NaN
2,7B6827D7B9508D93,classic_bike,2022-01-10 19:55:13,2022-01-10 20:00:37,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,...,320.0,11.6,15.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6E5864EA6FCEC90D,electric_bike,2022-01-26 07:54:57,2022-01-26 07:55:22,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,...,320.0,10.7,14.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E24954255BBDE32D,electric_bike,2022-01-13 18:44:46,2022-01-13 18:45:43,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,...,60.0,5.8,7.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df["trip_1"] = 1

In [15]:
routes = (
    df.groupby(
        [
            "start_station_name",
            "end_station_name",
            "start_lat",
            "start_lng",
            "end_lat",
            "end_lng"
        ],
        as_index=False
    )
    .agg(trip_count=("trip_1", "sum"))
)
routes.head()

,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,trip_count
0,11 St & Washington St,11 St & Washington St,40.747251,-74.027879,40.749985,-74.02715,1
1,11 St & Washington St,11 St & Washington St,40.749817,-74.027383,40.749985,-74.02715,1
2,11 St & Washington St,11 St & Washington St,40.749857,-74.027530,40.749985,-74.02715,1
3,11 St & Washington St,11 St & Washington St,40.749882,-74.027380,40.749985,-74.02715,1
4,11 St & Washington St,11 St & Washington St,40.749885,-74.027409,40.749985,-74.02715,1

In [16]:
import sys
sys.executable

'C:\\Users\\User\\anaconda3\\python.exe'

In [17]:
from keplergl import KeplerGl
map_1 = KeplerGl(height=500)
map_1.add_data(data=routes, name="NYC Routes")
map_1

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

KeplerGl(data={'NYC Routes': {'index': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, â€¦

### Customize map (points + arcs)

Point color: Start and end station points are colored using a dark purple theme to show intensity.

Arcs: Enabled to show the direction and volume of trips between locations.

Filter: I added a filter on trip_count to visualize only the most common trips (e.g., those above 1000).

This helps us visually identify the busiest areas and travel routes in the cityâ€”especially Midtown and downtown Manhattan, which seem highly connected.

In [20]:
# 5. Add aggregated data to map
map_1.add_data(data=routes, name="trip_connections")

In [19]:
# 6. Export configuration and save map to HTML
config = map_1.config  # current map settings
map_1.save_to_html(file_name="2.5_Advanced_Geospatial_Plotting.html")

Map saved to 2.5_Advanced_Geospatial_Plotting.html!

#### ðŸ’¡ Observations & Insights
After applying filters and reviewing the arcs on the map:

The most common bike trips occur between nearby stations in Manhattan.

Certain hotspots like Penn Station, Central Park, and Wall Street dominate the usage.

The arc widths and filters clearly illustrate commuter behavior across dense business zones.

The map clearly helps us understand user traffic flows and peak usage areas within NYC's CitiBike system.